@media #{$desktop} {
  .application_card {
    margin-top: 32px;
    width: 100%;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 6px 6px 0px 0px #E7F4EF;
    border-radius: 16px;
    border: 4px solid #E7F4EF;
    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      width: 100%;
      height: 48px;
      border-bottom: 4px solid #e7f4ef;
      i {
        font-style: normal;
        font-size: 18px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #03A678;
      }
    }
    .application_countdown_box {
      display: flex;
      align-items: center;
      padding: 0 12px;
      margin-right: -4px;
      height: 100%;
      background: #E7F4EF;
      border-radius: 16px 16px 0px 0px;
      .success {
        margin-bottom: 0;
        font-size: 14px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #4F4F4F;
      }
    }
    
    &_content_h5 {
      display: none;
    }
    &_content {
      display: flex;
      align-items: center;
      padding: 18px 20px;
      .placeholder_map {
        margin: 0;
        width: 60px;
        height: 60px;
        background: #e7f4ef;
        border-radius: 50%;
      }
      img {
        width: 60px;
        height: 60px;
      }
      .application_card_content_title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        margin-left: 52px;
        width: 128px;
        font-size: 14px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #959595;
        line-height: 18px;
        span {
          display: inline-block;
          margin-top: 10px;
          font-size: 18px;
          font-family: Montserrat-Bold, Montserrat;
          font-weight: bold;
          color: #4F4F4F;
          line-height: 20px;
        }
      }
      .application_card_content_progress {
        width: 240px;
        a {
          position: relative;
          margin-top: 16px;
          width: 240px;
          height: 10px;
          background: #E7F4EF;
          border-radius: 5px;
        }
        span {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          width: 0;
          height: 10px;
          background: #03A678;
          border-radius: 5px;
        }
      }
      .application_card_content_btn {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-left: 60px;
        a {
          display: inline-block;
          padding: 0 38px;
          height: 40px;
          line-height: 34px;
          font-size: 18px;
          font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
          font-weight: 600;
          color: #00C57B;
          background: #FFF;
          border-radius: 22px;
          border: 3px solid #00C57B;
          &:hover {
            box-shadow: 3px 3px 0px 0px #03A678;
          }
          &:last-child {
            margin-left: 10px;
            font-size: 16px;
            font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
            font-weight: 600;
            color: #FFFFFF;
            background: #00C57B;
          }
        }
        .disable_failed {
          color: #D8D8D8;
          border: 3px solid #D8D8D8;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
  .application_countdown {
      margin: 0;
      .countdown {
        font-size: 14px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #4F4F4F;
        line-height: 18px;
      }
      .countdown_time {
        display: inline-block;
        width: 22px;
        height: 22px;
        font-size: 14px;
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
        color: #4F4F4F;
        line-height: 22px;
        border-radius: 4px;
        text-align: center;
        border: 1px solid #C9D7D1;
      }
      i {
        font-size: 14px;
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
        color: #959595;
        line-height: 16px;
      }
    }
}
@media #{$mdWidth} {
  .application_card {
    margin-top: 32px;
    width: 100%;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 6px 6px 0px 0px #E7F4EF;
    border-radius: 16px;
    border: 4px solid #E7F4EF;
    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      width: 100%;
      height: 48px;
      border-bottom: 4px solid #e7f4ef;
      i {
        font-style: normal;
        font-size: 18px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #03A678;
      }
    }
    .application_countdown_box {
      display: flex;
      align-items: center;
      padding: 0 12px;
      margin-right: -4px;
      height: 100%;
      background: #E7F4EF;
      border-radius: 16px 16px 0px 0px;
      .success {
        margin-bottom: 0;
        font-size: 14px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #4F4F4F;
      }
    }
   
    &_content_h5 {
      display: none;
    }
    &_content {
      display: flex;
      align-items: center;
      padding: 18px 20px;
      .placeholder_map {
        margin: 0;
        width: 60px;
        height: 60px;
        background: #e7f4ef;
        border-radius: 50%;
      }
      img {
        width: 60px;
        height: 60px;
      }
      .application_card_content_title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        margin-left: 52px;
        width: 128px;
        font-size: 14px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #959595;
        line-height: 18px;
        span {
          display: inline-block;
          margin-top: 10px;
          font-size: 18px;
          font-family: Montserrat-Bold, Montserrat;
          font-weight: bold;
          color: #4F4F4F;
          line-height: 20px;
        }
      }
      .application_card_content_progress {
        width: 240px;
        a {
          position: relative;
          margin-top: 16px;
          width: 240px;
          height: 10px;
          background: #E7F4EF;
          border-radius: 5px;
        }
        span {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          width: 0;
          height: 10px;
          background: #03A678;
          border-radius: 5px;
        }
      }
      .application_card_content_btn {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-left: 60px;
        a {
          display: inline-block;
          padding: 0 38px;
          height: 40px;
          line-height: 34px;
          font-size: 18px;
          font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
          font-weight: 600;
          color: #00C57B;
          background: #FFF;
          border-radius: 22px;
          border: 3px solid #00C57B;
          &:hover {
            box-shadow: 3px 3px 0px 0px #03A678;
          }
          &:last-child {
            margin-left: 10px;
            font-size: 16px;
            font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
            font-weight: 600;
            color: #FFFFFF;
            background: #00C57B;
          }
        }
        .disable_failed {
          color: #D8D8D8;
          border: 3px solid #D8D8D8;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
   .application_countdown {
      margin: 0;
      .countdown {
        font-size: 14px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #4F4F4F;
        line-height: 18px;
      }
      .countdown_time {
        display: inline-block;
        width: 22px;
        height: 22px;
        font-size: 14px;
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
        color: #4F4F4F;
        line-height: 22px;
        border-radius: 4px;
        text-align: center;
        border: 1px solid #C9D7D1;
      }
      i {
        font-size: 14px;
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
        color: #959595;
        line-height: 16px;
      }
    }
}
@media #{$smWidth} {
  .application_card {
    margin: 20px auto 0;
    width: 352px;
    height: 310px;
    background: #FFFFFF;
    box-shadow: 6px 6px 0px 0px #E7F4EF;
    border-radius: 16px;
    border: 4px solid #E7F4EF;
    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      width: 100%;
      height: 48px;
      border-bottom: 4px solid #e7f4ef;
      i {
        font-style: normal;
        font-size: 18px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #03A678;
      }
    }
    .application_countdown_box {
      display: flex;
      align-items: center;
      padding: 0 12px;
      margin-right: -4px;
      height: 100%;
      background: #E7F4EF;
      border-radius: 16px 16px 0px 0px;
      .success {
        margin-bottom: 0;
        font-size: 14px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #4F4F4F;
      }
    }
  
    &_content {
      display: none;
    }
    &_content_h5 {
      padding: 20px 10px;
      .placeholder_map {
        margin: 0;
        width: 60px;
        height: 60px;
        background: #e7f4ef;
        border-radius: 50%;
      }
      img {
        display: inline-block;
        width: 60px;
        height: 60px;
      }
      .application_card_content_title_h5 {
        display: inline-block;
        margin-left: 16px;
        margin-bottom: 0;
        font-size: 14px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #959595;
        line-height: 18px;
        span {
          display: inline-block;
          margin-top: 10px;
          margin-left: 12px;
          font-size: 16px;
          font-family: Montserrat-Bold, Montserrat;
          font-weight: bold;
          color: #4F4F4F;
          line-height: 20px;
        }
      }
      .application_card_content_h5_box {
        display: flex;
        justify-content: space-between;
        margin-top: 18px;
      }
      .application_card_content_title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        width: 128px;
        font-size: 14px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #959595;
        line-height: 18px;
        span {
          display: inline-block;
          margin-top: 10px;
          font-size: 16px;
          font-family: Montserrat-Bold, Montserrat;
          font-weight: bold;
          color: #4F4F4F;
          line-height: 20px;
        }
      }
      .application_card_content_progress {
        width: 190px;
        a {
          position: relative;
          margin-top: 16px;
          width: 190px;
          height: 10px;
          background: #E7F4EF;
          border-radius: 5px;
        }
        span {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          width: 0;
          height: 10px;
          background: #03A678;
          border-radius: 5px;
        }
      }
      .application_card_content_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 34px;
        a {
          display: inline-block;
          padding: 0 38px;
          height: 40px;
          line-height: 34px;
          font-size: 18px;
          font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
          font-weight: 600;
          color: #00C57B;
          background: #FFF;
          border-radius: 22px;
          border: 3px solid #00C57B;
          &:hover {
            box-shadow: 3px 3px 0px 0px #03A678;
          }
          &:last-child {
            margin-left: 10px;
            font-size: 16px;
            font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
            font-weight: 600;
            color: #FFFFFF;
            background: #00C57B;
          }
        }
        .disable_failed {
          color: #D8D8D8;
          border: 3px solid #D8D8D8;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
    .application_countdown {
      margin: 0;
      .countdown {
        font-size: 14px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #4F4F4F;
        line-height: 18px;
      }
      .countdown_time {
        display: inline-block;
        width: 22px;
        height: 22px;
        font-size: 14px;
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
        color: #4F4F4F;
        line-height: 22px;
        border-radius: 4px;
        text-align: center;
        border: 1px solid #C9D7D1;
      }
      i {
        font-size: 14px;
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
        color: #959595;
        line-height: 16px;
      }
    }
}
@media #{$xsWidth} {
  .application_card {
    margin: 20px auto 0;
    width: 352px;
    height: 310px;
    background: #FFFFFF;
    box-shadow: 6px 6px 0px 0px #E7F4EF;
    border-radius: 16px;
    border: 4px solid #E7F4EF;
    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      width: 100%;
      height: 48px;
      border-bottom: 4px solid #e7f4ef;
      i {
        font-style: normal;
        font-size: 18px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #03A678;
      }
    }
    .application_countdown_box {
      display: flex;
      align-items: center;
      padding: 0 12px;
      margin-right: -4px;
      height: 100%;
      background: #E7F4EF;
      border-radius: 16px 16px 0px 0px;
      .success {
        margin-bottom: 0;
        font-size: 14px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #4F4F4F;
      }
    }
  
    &_content {
      display: none;
    }
    &_content_h5 {
      padding: 20px 10px;
      .placeholder_map {
        margin: 0;
        width: 60px;
        height: 60px;
        background: #e7f4ef;
        border-radius: 50%;
      }
      img {
        display: inline-block;
        width: 60px;
        height: 60px;
      }
      .application_card_content_title_h5 {
        display: inline-block;
        margin-left: 16px;
        margin-bottom: 0;
        font-size: 14px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #959595;
        line-height: 18px;
        span {
          display: inline-block;
          margin-top: 10px;
          margin-left: 12px;
          font-size: 16px;
          font-family: Montserrat-Bold, Montserrat;
          font-weight: bold;
          color: #4F4F4F;
          line-height: 20px;
        }
      }
      .application_card_content_h5_box {
        display: flex;
        justify-content: space-between;
        margin-top: 18px;
      }
      .application_card_content_title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        width: 128px;
        font-size: 14px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #959595;
        line-height: 18px;
        span {
          display: inline-block;
          margin-top: 10px;
          font-size: 16px;
          font-family: Montserrat-Bold, Montserrat;
          font-weight: bold;
          color: #4F4F4F;
          line-height: 20px;
        }
      }
      .application_card_content_progress {
        width: 190px;
        a {
          position: relative;
          margin-top: 16px;
          width: 190px;
          height: 10px;
          background: #E7F4EF;
          border-radius: 5px;
        }
        span {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          width: 0;
          height: 10px;
          background: #03A678;
          border-radius: 5px;
        }
      }
      .application_card_content_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 34px;
        a {
          display: inline-block;
          padding: 0 38px;
          height: 40px;
          line-height: 34px;
          font-size: 18px;
          font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
          font-weight: 600;
          color: #00C57B;
          background: #FFF;
          border-radius: 22px;
          border: 3px solid #00C57B;
          &:hover {
            box-shadow: 3px 3px 0px 0px #03A678;
          }
          &:last-child {
            margin-left: 10px;
            font-size: 16px;
            font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
            font-weight: 600;
            color: #FFFFFF;
            background: #00C57B;
          }
        }
        .disable_failed {
          color: #D8D8D8;
          border: 3px solid #D8D8D8;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
   .application_countdown {
      margin: 0;
      .countdown {
        font-size: 14px;
        font-family: Montserrat-Bold, Montserrat;
        font-weight: bold;
        color: #4F4F4F;
        line-height: 18px;
      }
      .countdown_time {
        display: inline-block;
        width: 22px;
        height: 22px;
        font-size: 14px;
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
        color: #4F4F4F;
        line-height: 22px;
        border-radius: 4px;
        text-align: center;
        border: 1px solid #C9D7D1;
      }
      i {
        font-size: 14px;
        font-family: Montserrat-SemiBold, Montserrat;
        font-weight: 600;
        color: #959595;
        line-height: 16px;
      }
    }
}
