@media #{$desktop} {
  .farm-banner {
    min-width: 1180px;
    height: 600px;
    background-image: url(../../assets/image/farmbanner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > img {
      width: 800px;
      height: 288px;
    }
    > div {
      font-size: 24px;
      font-family: Montserrat-Bold, HelveticaNeue, "Helvetica Neue";
      font-weight: bold;
      color: #ffffff;
      line-height: 40px;
      margin-top: 21px;
    }
  }
}
@media #{$mdWidth} {
  .farm-banner {
    min-width: 1180px;
    height: 600px;
    background-image: url(../../assets/image/farmbanner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > img {
      width: 800px;
      height: 288px;
    }
    > div {
      font-size: 24px;
      font-family: Montserrat-Bold, HelveticaNeue, "Helvetica Neue";
      font-weight: bold;
      color: #ffffff;
      line-height: 40px;
      margin-top: 21px;
    }
  }
}
@media #{$smWidth} {
  .farm-banner {
    width: 100%;
    height: 360px;
    background-image: url(../../assets/image/farmbanner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > img {
      width: 335px;
      height: 121px;
    }
    > div {
      font-size: 16px;
      font-family: Montserrat-Bold, HelveticaNeue, "Helvetica Neue";
      font-weight: bold;
      color: #ffffff;
      line-height: 30px;
      text-align: center;
      margin-top: 30px;
    }
  }
}

@media #{$xsWidth} {
  .farm-banner {
    width: 100%;
    height: 360px;
    background-image: url(../../assets/image/farmbanner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > img {
      width: 335px;
      height: 121px;
    }
    > div {
      font-size: 16px;
      font-family: Montserrat-Bold, HelveticaNeue, "Helvetica Neue";
      font-weight: bold;
      color: #ffffff;
      line-height: 30px;
      text-align: center;
      margin-top: 30px;
    }
  }
}
