@media #{$desktop} {
  .bridge_index {
    position: relative;
    margin: -200px auto 40px;
  }
  .bridge_card {
    padding: 45px 80px 26px;
    margin: 0 auto;
    width: 640px;
    background: #f2f0eb;
    border-radius: 8px;
    &_title {
      margin-bottom: 34px;
      font-size: 20px;
      font-family: HelveticaNeue-Bold, HelveticaNeue;
      color: #22292f;
      line-height: 20px;
    }
    &_input_title {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #22292F;
      line-height: 16px;
    }
    .deposit__inputbox {
      margin: 14px 0 20px;
    }
    .form-app__inputbox-up {
      position: absolute;
      right: 102px;
    }
    .set_slippage {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 100%;
      font-size: 14px;
      font-family: HelveticaNeue-Medium, HelveticaNeue;
      font-weight: 500;
      color: #22292F;
      border-left: 1px solid #ebe9e3;
        .svg {
        fill: #212930;
      }
      img {
        display: inline-block;
        margin-right: 6px;
        width: 24px;
        height: 24px;
      }
    }
    .copy_address {
        width: 48px;
      height: 100%;
    }
    .btn {
      width: 100%;
      height: 48px;
      line-height: 1.5;
      font-size: 18px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      background: #0f8c20;
      border-radius: 20px;
    }
    .btn_disable {
      color: #fff;
      background: #999;
      box-shadow: 0px 4px 20px 0px rgba(#999, 0.3);
    }
    .lbp_tip {
      margin-top: 20px;
      font-size: 14px;
      color: #7A7F82;
      line-height: 24px;
      p {
        margin-bottom: 0;
        text-align: center;
        a {
          color: #0F8C20;
        }
      }
    }
    &_from_to {
      display: flex;
      align-items: flex-end;
      justify-content: start;
      margin-bottom: 14px;
    }
    &_from {
      display: flex;
      flex-direction: column;
      p {
        margin-bottom: 0;
      }
    }
    &_transform {
      display: inline-block;
      margin: 0 8px;
      width: 24px;
      height: 24px;
      transform: rotate(-90deg);
    }
    &_from_text {
      margin-bottom: 4px !important;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #7A7F82;
      line-height: 16px;
    }
    &_from_chain {
      padding: 0 10px;
      height: 28px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #22292F;
      line-height: 28px;
      background: #FFFFFF;
      border-radius: 5px;
      img {
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
@media #{$mdWidth} {}
@media #{$smWidth} {}
@media #{$xsWidth} {}