.form-app__submit--row .btn {
  max-width: 100%;
  width: 100%;
}
.form-app__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media #{$desktop} {
  .farm_popup {
    &_avaliable {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      color: #22292f;
      line-height: 16px;
      margin-bottom: 0;
      opacity: 1;
    }
    &_close_btn {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../icon/close.png') no-repeat;
      background-size: 100% 100%;
    }
    .compound_claim {
      background: #22292f;
      border-radius: 19px;
      &:hover {
        background: #22292f;
      }
    }
  }
}

@media #{$mdWidth} {
}
@media #{$smWidth} {
}
@media #{$xsWidth} {
}
