.form-app__submit--row .btn {
  max-width: 100%;
  width: 100%;
}
.ant-btn-primary {
  padding: 0 16px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-family: HelveticaNeue-Medium, HelveticaNeue;
  font-weight: 500;
  line-height: 40px;
  border-radius: 100px;
  background: #0f8c20 !important;
  color: #ffffff;
  border-color: #0f8c20 !important;
  box-shadow: none;
  text-shadow: none;
  &:hover {
    background: #00b900 !important;
    border-color: #0f8c20 !important;
  }
}
.ant-btn > .ant-btn-loading-icon {
  svg {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    fill: #fff !important;
    top: 4px;
  }
}
@media #{$desktop} {
  .farm_popup {
    &_avaliable {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      color: #22292f;
      line-height: 16px;
      margin-bottom: 0;
      opacity: 1;
    }
    &_close_btn {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../icon/close.png') no-repeat;
      background-size: 100% 100%;
    }
    .compound_claim {
      background: #22292f;
      border-radius: 19px;
      &:hover {
        background: #22292f;
      }
    }
    svg {
      fill: #fff !important;
      margin-right: 10px;
    }
    &_tab_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 2px solid #ebe9e3;
      .farm_popup_tab {
        position: relative;
        display: inline-block;
        height: 60px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #7a7f82;
        line-height: 60px;
        &:hover {
          color: #22292f;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 4px;
            background-color: #0f8c20;
          }
        }
        &:nth-child(2) {
          margin: 0 30px;
        }
      }
      .farm_popup_tab_active {
        color: #22292f;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 4px;
          background-color: #0f8c20;
        }
      }
    }
  }
  .farm_popup_box {
    padding-top: 0 !important;
    background: #f2f0eb;
  }
}

@media #{$mdWidth} {
  .farm_popup {
    h1 {
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
    }
    &_avaliable {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      color: #22292f;
      line-height: 16px;
      margin-bottom: 0;
      opacity: 1;
    }
    &_close_btn {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../icon/close.png') no-repeat;
      background-size: 100% 100%;
    }
    .compound_claim {
      background: #22292f;
      border-radius: 19px;
      &:hover {
        background: #22292f;
      }
    }
    &_tab_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 2px solid #ebe9e3;
      .farm_popup_tab {
        position: relative;
        display: inline-block;
        height: 60px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #7a7f82;
        line-height: 60px;
        &:hover {
          color: #22292f;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 4px;
            background-color: #0f8c20;
          }
        }
        &:nth-child(2) {
          margin: 0 30px;
        }
      }
      .farm_popup_tab_active {
        color: #22292f;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 4px;
          background-color: #0f8c20;
        }
      }
    }
  }
  .farm_popup_box {
    padding-top: 0 !important;
    background: #f2f0eb;
  }
}
@media #{$smWidth} {
  .modal__box {
    width: 100% !important;
  }
  .btn {
    margin-top: 0 !important;
  }
  .farm_popup {
    &_avaliable {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      color: #22292f;
      line-height: 16px;
      margin-bottom: 0;
      opacity: 1;
    }
    &_close_btn {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../icon/close.png') no-repeat;
      background-size: 100% 100%;
    }
    .compound_claim {
      background: #22292f;
      border-radius: 19px;
      &:hover {
        background: #22292f;
      }
    }
    &_tab_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 2px solid #ebe9e3;
      .farm_popup_tab {
        position: relative;
        display: inline-block;
        height: 60px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #7a7f82;
        line-height: 60px;
        &:hover {
          color: #22292f;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 4px;
            background-color: #0f8c20;
          }
        }
        &:nth-child(2) {
          margin: 0 30px;
        }
      }
      .farm_popup_tab_active {
        color: #22292f;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 4px;
          background-color: #0f8c20;
        }
      }
    }
  }
  .farm_popup_box {
    padding-top: 0 !important;
    background: #f2f0eb;
  }
}
@media #{$xsWidth} {
  .modal__box {
    width: 100% !important;
  }
  .btn {
    margin-top: 0 !important;
  }
  .farm_popup {
    &_avaliable {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      color: #22292f;
      line-height: 16px;
      margin-bottom: 0;
      opacity: 1;
    }
    &_close_btn {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../icon/close.png') no-repeat;
      background-size: 100% 100%;
    }
    .compound_claim {
      background: #22292f;
      border-radius: 19px;
      &:hover {
        background: #22292f;
      }
    }
    &_tab_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 2px solid #ebe9e3;
      .farm_popup_tab {
        position: relative;
        display: inline-block;
        height: 60px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #7a7f82;
        line-height: 60px;
        &:hover {
          color: #22292f;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 4px;
            background-color: #0f8c20;
          }
        }
        &:nth-child(2) {
          margin: 0 30px;
        }
      }
      .farm_popup_tab_active {
        color: #22292f;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 4px;
          background-color: #0f8c20;
        }
      }
    }
  }
  .farm_popup_box {
    padding-top: 0 !important;
    background: #f2f0eb;
  }
}
