.footer {
  position: absolute;
  bottom: 0;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
  padding: 12px;
  display: flex;
  width: 100%;
  height: 80px;
  border-top: 1px solid #ededf0;
  &__links {
    display: flex;
    margin-bottom: 0;
    li {
      margin: 12px;
    }

    a {
      display: block;
      width: 24px;
      svg {
        fill: #22292f;
      }
      img {
        width: 18px;
        height: 24px;
        &:hover {
          svg {
            fill: #0f8c20;
          }
        }
      }
      @media #{$desktop} {
        &:hover svg {
          fill: #0f8c20;
        }
      }
    }
  }
}
@media #{$desktop} {
  .footer {
    // display: none;
  }
  .footer_wrap {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
@media #{$mdWidth} {
  .footer {
    display: none;
  }
  .footer_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media #{$smWidth} {
  .footer_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media #{$xsWidth} {
  .footer_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media #{$smWidth} {
  .footer {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    display: none;

    &__links {
      display: flex;
      align-items: center;
      li {
        margin: 12px;
      }

      a {
        display: block;
        width: 24px;
        svg {
          fill: #22292f;
        }
        @media #{$desktop} {
          &:hover svg {
            fill: #0f8c20;
          }
        }
      }
    }
  }
}
@media #{$xsWidth} {
  .footer {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    display: none;

    &__links {
      display: flex;
      align-items: center;
      li {
        margin: 12px;
      }

      a {
        display: block;
        width: 24px;
        svg {
          fill: #22292f;
        }
        @media #{$desktop} {
          &:hover svg {
            fill: #0f8c20;
          }
        }
      }
    }
  }
}
