.footer {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 12px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    &__links {
        width: 1380px;
        display: flex;

        li {
            margin: 12px;
        }

        a {
            display: block;
            width: 24px;
            svg {
                fill: #7a7f82;
            }
            @media #{$desktop} {
                &:hover svg {
                    fill: #0f8c20;
                }
            }
        }
    }
}
@media #{$smWidth} {
    .footer {
        flex-shrink: 0;
        background-color: rgba(255, 255, 255, 0.05);
        padding: 12px;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 420px;
        width: 100%;

        &__links {
            width: 100%;
            display: flex;
            li {
                margin: 12px;
            }

            a {
                display: block;
                width: 24px;
                svg {
                    fill: #7a7f82;
                }
                @media #{$desktop} {
                    &:hover svg {
                        fill: #0f8c20;
                    }
                }
            }
        }
    }
}
@media #{$xsWidth} {
    .footer {
        flex-shrink: 0;
        background-color: rgba(255, 255, 255, 0.05);
        padding: 12px;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 420px;
        width: 100%;

        &__links {
            width: 100%;
            display: flex;

            li {
                margin: 12px;
            }

            a {
                display: block;
                width: 24px ;
                svg {
                    fill: #7a7f82;
                }
                @media #{$desktop} {
                    &:hover svg {
                        fill: #0f8c20;
                    }
                }
            }
        }
    }
}
