.ant-select {
  margin-top: 12px;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #00b900;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #00b900;
  box-shadow: none;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #22292f;
}
.ant-select-single.ant-select-open .ant-select-selection-item {
  font-size: 14px;
  font-weight: 500;
  color: #22292f;
}
.option_hover_style {
  margin: 0 10px 4px;
  padding: 0 2px !important;
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  &.active {
    background-color: #d4e9e2;
  }
  &:hover,
  &:focus {
    background-color: #d4e9e2;
  }
}

.ant-avatar {
  background-color: transparent !important;
}

.ant-avatar-string {
  transform: scale(0.7) translateX(-50%) !important;
}
