.pools-example {
  background-size: 100% 100%;
}
.pools-type_over_status {
  color: #42526e;
  background: #dfe1e6;
  padding: 2px 3px;
}
.pools-type_progress_status {
  color: #0f8c20;
  background: #d4e9e2;
  padding: 2px 3px;
}
.pools-type_coming_status {
  color: #22292f;
  background: #fff0b3;
  padding: 2px 3px;
}
.svip {
  display: inline-block;
  margin-left: 4px;
  width: 34px;
  height: 18px;
  background: url("../icon/farm/SVIP@2x.png") no-repeat;
  background-size: 100% 100%;
}
@media #{$desktop} {
  .pools-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../assets/image/pool-ex-bg.png);
    background-repeat: no-repeat;
    min-width: 1180px;
    height: 680px;
    &_title {
      width: 1180px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-size: 40px;
        font-family: Montserrat-ExtraBold, Montserrat;
        font-weight: 800;
        color: #ffffff;
        line-height: 40px;
      }
      a {
        font-size: 14px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #00c57b;
        line-height: 40px;
      }
    }
    &_card {
      width: 1180px;
      margin: 40px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .border_56 {
        border: 1px solid #f7ecc9;
      }
      .border_128 {
        border: 1px solid #ccf3e5;
      }
      .border_137 {
        border: 1px solid #e1d5f5;
      }
      .border_43114 {
        border: 1px solid #f5d4d4;
      }
      &_box {
        position: relative;
        overflow: hidden;
        width: 380px;
        background: #f9f9f9;
        border-radius: 14px;
        &_t {
          width: 100%;
          height: 210px;
          background-image: url(../../assets/image/default-pool.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
        &_b {
          width: 100%;
          height: 240px;
          padding: 35px 20px 0;
          &_logo {
            position: absolute;
            top: 50%;
            transform: translateY(-70px);
            width: 80px;
            height: 80px;
            border-radius: 12px;
            border: 6px solid #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            > div {
              border-radius: 6px;
              overflow: hidden;
              width: 68px;
              height: 68px;
              > img {
                width: 100%;
                height: 100%;
              }
            }
          }
          &_name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            > h3 {
              font-size: 20px;
              font-family: Montserrat-Bold, Montserrat;
              font-weight: bold;
              color: #000000;
              line-height: 24px;
              margin-bottom: 0;
              display: flex;
              align-items: center;
            }
            > span {
              display: block;
              width: 25px;
              height: 25px;
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
            .chain_43114 {
              background-image: url(../../assets/chain/avalanche.png);
            }
            .chain_56 {
              background-image: url(../../assets/chain/binance.png);
            }
            .chain_128 {
              background-image: url(../../assets/chain/heco.png);
            }
            .chain_137 {
              background-image: url(../../assets/chain/matic.png);
            }
          }
          &_time {
            position: absolute;
            top: 50%;
            transform: translateY(-39px);
            right: 0;
            width: calc(100% - 100px);
            height: 24px;
            background: rgba(255, 255, 255, 0.7);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            > span {
              &:nth-of-type(1) {
                font-size: 12px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #000000;
                line-height: 12px;
              }
              &:nth-of-type(2) {
                margin-left: 10px;
                > span {
                  width: 16px;
                  height: 16px;
                  background: rgba(0, 0, 0, 0.1);
                  border-radius: 3px;
                  font-size: 12px;
                  font-family: Montserrat-SemiBold, Montserrat;
                  font-weight: 600;
                  color: #000000;
                  line-height: 12px;
                }
              }
            }
          }
          &_text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-family: Montserrat-Regular, Montserrat;
            font-weight: 400;
            color: #4f4f4f;
            line-height: 14px;
            margin-bottom: 10px;
            > i {
              font-size: 14px;
              font-family: Montserrat-Bold, Montserrat;
              font-weight: bold;
              color: #000000;
              line-height: 18px;
              font-style: normal;
              display: flex;
              align-items: center;
            }
          }
          &_enter {
            width: 100%;
            height: 48px;
            background: rgba(0, 197, 123, 0.2);
            border-radius: 0px 0px 14px 14px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-family: Montserrat-ExtraBold, Montserrat;
            font-weight: 800;
            color: #00c57b;
            line-height: 19px;
            &:hover {
              background: rgba(0, 197, 123, 0.5);
              color: #03a678 !important;
            }
          }
          &_bsc_enter {
            background: rgba(240, 185, 11, 0.2);
            color: #f0b90b;
            &:hover {
              background: rgba(240, 185, 11, 0.5);
              color: #cf9f06 !important;
            }
          }
          &_matic_enter {
            background: rgba(130, 71, 229, 0.2);
            color: #8247e5;
            &:hover {
              color: #7835e9 !important;
              background: rgba(130, 71, 229, 0.5);
            }
          }

          &_avalanche_enter {
            background: rgba(232, 65, 66, 0.2);
            color: #e84142;
            &:hover {
              background: rgba(232, 65, 66, 0.5);
              color: #ec292b !important;
            }
          }
          &_disable_enter {
            color: #fff;
            background: #b6b9bc;
            &:hover {
              color: #fff !important;
              background: #b6b9bc;
            }
          }
        }
      }
    }
  }
}
@media #{$mdWidth} {
  .pools-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../assets/image/pool-ex-bg.png);
    background-repeat: no-repeat;
    min-width: 1180px;
    height: 680px;
    &_title {
      width: 1180px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-size: 40px;
        font-family: Montserrat-ExtraBold, Montserrat;
        font-weight: 800;
        color: #ffffff;
        line-height: 40px;
      }
      a {
        font-size: 14px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #00c57b;
        line-height: 40px;
      }
    }
    &_card {
      width: 1180px;
      margin: 40px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .border_56 {
        border: 1px solid #f7ecc9;
      }
      .border_128 {
        border: 1px solid #ccf3e5;
      }
      .border_137 {
        border: 1px solid #e1d5f5;
      }
      .border_43114 {
        border: 1px solid #f5d4d4;
      }
      &_box {
        position: relative;
        overflow: hidden;
        width: 380px;
        background: #f9f9f9;
        border-radius: 14px;
        &_t {
          width: 100%;
          height: 210px;
          background-image: url(../../assets/image/default-pool.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
        &_b {
          width: 100%;
          height: 240px;
          padding: 35px 20px 0;
          &_logo {
            position: absolute;
            top: 50%;
            transform: translateY(-70px);
            width: 80px;
            height: 80px;
            border-radius: 12px;
            border: 6px solid #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            > div {
              border-radius: 6px;
              overflow: hidden;
              width: 68px;
              height: 68px;
              > img {
                width: 100%;
                height: 100%;
              }
            }
          }
          &_name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            > h3 {
              font-size: 20px;
              font-family: Montserrat-Bold, Montserrat;
              font-weight: bold;
              color: #000000;
              line-height: 24px;
              margin-bottom: 0;
              display: flex;
              align-items: center;
            }
            > span {
              display: block;
              width: 25px;
              height: 25px;
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
            .chain_43114 {
              background-image: url(../../assets/chain/avalanche.png);
            }
            .chain_56 {
              background-image: url(../../assets/chain/binance.png);
            }
            .chain_128 {
              background-image: url(../../assets/chain/heco.png);
            }
            .chain_137 {
              background-image: url(../../assets/chain/matic.png);
            }
          }
          &_time {
            position: absolute;
            top: 50%;
            transform: translateY(-39px);
            right: 0;
            width: calc(100% - 100px);
            height: 24px;
            background: rgba(255, 255, 255, 0.7);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            > span {
              &:nth-of-type(1) {
                font-size: 12px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #000000;
                line-height: 12px;
              }
              &:nth-of-type(2) {
                margin-left: 10px;
                > span {
                  width: 16px;
                  height: 16px;
                  background: rgba(0, 0, 0, 0.1);
                  border-radius: 3px;
                  font-size: 12px;
                  font-family: Montserrat-SemiBold, Montserrat;
                  font-weight: 600;
                  color: #000000;
                  line-height: 12px;
                }
              }
            }
          }
          &_text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-family: Montserrat-Regular, Montserrat;
            font-weight: 400;
            color: #4f4f4f;
            line-height: 14px;
            margin-bottom: 10px;
            > i {
              font-size: 14px;
              font-family: Montserrat-Bold, Montserrat;
              font-weight: bold;
              color: #000000;
              line-height: 18px;
              font-style: normal;
            }
          }
          &_enter {
            width: 100%;
            height: 48px;
            background: rgba(0, 197, 123, 0.2);
            border-radius: 0px 0px 14px 14px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-family: Montserrat-ExtraBold, Montserrat;
            font-weight: 800;
            color: #00c57b;
            line-height: 19px;
            &:hover {
              background: rgba(0, 197, 123, 0.5);
              color: #03a678 !important;
            }
          }
          &_bsc_enter {
            background: rgba(240, 185, 11, 0.2);
            color: #f0b90b;
            &:hover {
              background: rgba(240, 185, 11, 0.5);
              color: #cf9f06 !important;
            }
          }
          &_matic_enter {
            background: rgba(130, 71, 229, 0.2);
            color: #8247e5;
            &:hover {
              color: #7835e9 !important;
              background: rgba(130, 71, 229, 0.5);
            }
          }

          &_avalanche_enter {
            background: rgba(232, 65, 66, 0.2);
            color: #e84142;
            &:hover {
              background: rgba(232, 65, 66, 0.5);
              color: #ec292b !important;
            }
          }
          &_disable_enter {
            color: #fff;
            background: #b6b9bc;
            &:hover {
              color: #fff !important;
              background: #b6b9bc;
            }
          }
        }
      }
    }
  }
}
@media #{$smWidth} {
  .pools-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../assets/image/pool-ex-bg-h5.png);
    background-repeat: no-repeat;
    height: 1473px;
    padding: 0 20px;
    &_title {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-size: 40px;
        font-family: Montserrat-ExtraBold, Montserrat;
        font-weight: 800;
        color: #ffffff;
        line-height: 40px;
      }
      a {
        font-size: 14px;
        font-family: Montserrat-Regular, Montserrat;
        font-weight: 400;
        color: #00c57b;
        line-height: 40px;
      }
    }
    &_card {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .border_56 {
        border: 1px solid #f7ecc9;
      }
      .border_128 {
        border: 1px solid #ccf3e5;
      }
      .border_137 {
        border: 1px solid #e1d5f5;
      }
      .border_43114 {
        border: 1px solid #f5d4d4;
      }
      &_box {
        position: relative;
        overflow: hidden;
        width: 335px;
        background: #f9f9f9;
        border-radius: 14px;
        margin-top: 20px;
        &_t {
          width: 100%;
          height: 210px;
          background-image: url(../../assets/image/default-pool.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
        &_b {
          width: 100%;
          height: 240px;
          padding: 35px 20px 0;
          &_logo {
            position: absolute;
            top: 50%;
            transform: translateY(-70px);
            width: 80px;
            height: 80px;
            border-radius: 12px;
            border: 6px solid #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            > div {
              border-radius: 6px;
              overflow: hidden;
              width: 68px;
              height: 68px;
              > img {
                width: 100%;
                height: 100%;
              }
            }
          }
          &_name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            > h3 {
              font-size: 20px;
              font-family: Montserrat-Bold, Montserrat;
              font-weight: bold;
              color: #000000;
              line-height: 24px;
              margin-bottom: 0;
              display: flex;
              align-items: center;
            }
            > span {
              display: block;
              width: 25px;
              height: 25px;
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
            .chain_43114 {
              background-image: url(../../assets/chain/avalanche.png);
            }
            .chain_56 {
              background-image: url(../../assets/chain/binance.png);
            }
            .chain_128 {
              background-image: url(../../assets/chain/heco.png);
            }
            .chain_137 {
              background-image: url(../../assets/chain/matic.png);
            }
          }
          &_time {
            position: absolute;
            top: 50%;
            transform: translateY(-39px);
            right: 0;
            width: calc(100% - 100px);
            height: 24px;
            background: rgba(255, 255, 255, 0.7);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            > span {
              &:nth-of-type(1) {
                font-size: 12px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #000000;
                line-height: 12px;
              }
              &:nth-of-type(2) {
                margin-left: 10px;
                > span {
                  width: 16px;
                  height: 16px;
                  background: rgba(0, 0, 0, 0.1);
                  border-radius: 3px;
                  font-size: 12px;
                  font-family: Montserrat-SemiBold, Montserrat;
                  font-weight: 600;
                  color: #000000;
                  line-height: 12px;
                }
              }
            }
          }
          &_text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-family: Montserrat-Regular, Montserrat;
            font-weight: 400;
            color: #4f4f4f;
            line-height: 14px;
            margin-bottom: 10px;
            > i {
              font-size: 14px;
              font-family: Montserrat-Bold, Montserrat;
              font-weight: bold;
              color: #000000;
              line-height: 18px;
              font-style: normal;
            }
          }
          &_enter {
            width: 100%;
            height: 48px;
            background: rgba(0, 197, 123, 0.2);
            border-radius: 0px 0px 14px 14px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-family: Montserrat-ExtraBold, Montserrat;
            font-weight: 800;
            color: #00c57b;
            line-height: 19px;
            &:hover {
              background: rgba(0, 197, 123, 0.5);
              color: #03a678 !important;
            }
          }
          &_bsc_enter {
            background: rgba(240, 185, 11, 0.2);
            color: #f0b90b;
            &:hover {
              background: rgba(240, 185, 11, 0.5);
              color: #cf9f06 !important;
            }
          }
          &_matic_enter {
            background: rgba(130, 71, 229, 0.2);
            color: #8247e5;
            &:hover {
              color: #7835e9 !important;
              background: rgba(130, 71, 229, 0.5);
            }
          }

          &_avalanche_enter {
            background: rgba(232, 65, 66, 0.2);
            color: #e84142;
            &:hover {
              background: rgba(232, 65, 66, 0.5);
              color: #ec292b !important;
            }
          }
          &_disable_enter {
            color: #fff;
            background: #b6b9bc;
            &:hover {
              color: #fff !important;
              background: #b6b9bc;
            }
          }
        }
      }
    }
  }
}
