.ant-select {
  margin-top: 12px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border: none
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: none;
  box-shadow: none;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #22292f;
  height: 28px;
  line-height: 28px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 28px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 28px;
}
.ant-select-single.ant-select-open .ant-select-selection-item {
  font-size: 14px;
  font-weight: 500;
  color: #22292f;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  min-width: 102px;
  border-radius: 5px;
}
.option_hover_style {
  margin: 0 10px 4px;
  padding: 0 2px !important;
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  &.active {
    background-color: #D4E9E2 !important;
  }
  &:hover,
  &:focus {
    background-color: #D4E9E2 !important;
  }
}

.ant-avatar {
  background-color: transparent !important;
}

.ant-avatar-string {
  transform: scale(0.7) translateX(-50%) !important;
}

.lpt_link {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #0f8c20;
  &:hover {
    color: #0f8c20;
    text-decoration: underline;
  }
}
