.pools_detail {
  width: 100%;
  background: #fff;
}
@media #{$desktop} {
  .pools_detail_box {
    min-width: 1080px;
    // height: 100%;
    min-height: 100%;
    background-color: #fff;
  }
  .pools_detail {
    margin-top: 60px;
    padding-bottom: 176px;
    &_btn_box {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding-bottom: 16px;
      text-align: center;
    }
    &_tips_box {
      margin: 0 auto;
      width: 640px;
      text-align: center;
    }
    &_tips {
      display: inline-block;
      margin-bottom: 0;
      padding: 6px 8px;
      font-size: 12px;
      color: #ff6400;
      background: #fff3f0;
      border-radius: 5px;
    }
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 48px;
      font-size: 16px;
      color: #22292f;
      font-weight: 600;
      line-height: 20px;
      border-radius: 24px;
      background: #f2f0eb;
      &:hover {
        color: #fff;
      }
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #0f8c20;
        }
      }
    }
    &_btn_56 {
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #F0B90B;
        }
      }
    }
    &_btn_137 {
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #8247E5;
        }
      }
    }
    &_btn_active {
      color: #fff;
      background: #0f8c20;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #00b900;
      }
    }
    &_btn_active_56 {
      color: #fff;
      background: #F0B90B;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #F3C73B;
      }
    }
    &_btn_active_137 {
      color: #fff;
      background: #8247E5;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #9B6BEA;
      }
    }

    &_btn_disable {
      color: #fff;
      background: #999;
      box-shadow: 0px 4px 20px 0px rgba(#999, 0.3);
    }
    &_record {
      position: relative;
      margin: 40px auto 0px;
      padding: 0 50px 30px;
      width: 640px;
      min-height: 164px;
      background: #f2f0eb;
      border-radius: 10px;
      .mask_layer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 0 30px;
        width: 640px;
        height: 164px;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        line-height: 164px;
        text-align: center;
        background: rgba(34, 41, 47, 0.7);
        border-radius: 10px;
      }
    }
    &_record_tab {
      display: flex;
      a {
        position: relative;
        margin: 0 36px 22px 0;
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #7a7f82;
        line-height: 20px;
        &:hover {
          color: #0f8c20;
          &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #0f8c20;
          }
        }
      }
      a.active {
        color: #0f8c20;
        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: #0f8c20;
        }
      }
    }
    &_record_title_h5 {
      display: none;
    }
    &_record_title {
      width: 100%;
      thead {
        tr {
          td {
            font-size: 12px;
            font-weight: 400;
            color: #7a7f82;
            line-height: 28px;
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 14px;
            font-weight: 500;
            color: #22292f;
            line-height: 26px;
            &:last-child {
              text-align: right;
            }
          }
          .pools_detail_record_btn {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            line-height: 24px;
            background: #0f8c20;
            border-radius: 12px;
            text-align: right;
          }
          .pools_detail_record_btn_56 {
            background: #F0B90B;
            text-align: right;
            &:hover {
              background-color: #F3C73B;
            }
          }
          .pools_detail_record_btn_137 {
            background: #8247E5;
            text-align: right;
            &:hover {
              background-color: #9B6BEA;
            }
          }
        }
      }
    }
    &_content {
      width: 1100px;
      margin: 0 auto;
    }
    &_content_tab {
      height: 60px;
      line-height: 60px;
      border-bottom: 2px solid #ebe9e3;
      a {
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #7a7f82;
        &:last-child {
          margin-left: 40px;
        }
        &:hover {
          color: #7a7f82;
        }
        &.active {
          color: #22292f;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: #0f8c20;
          }
        }
      }
    }
    &_table_box {
      margin: 40px auto 0;
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: center;
    }
    &_table {
      width: 50%;
      border-radius: 5px;
      border: 1px solid #ebe9e3;
      tr {
        height: 60px;
        border-bottom: 1px solid #ebe9e3;
        th {
          font-size: 14px;
          font-weight: bold;
          color: #22292f;
          line-height: 60px;
          text-align: left;
        }
        td {
          font-size: 14px;
          color: #7a7f82;
          line-height: 20px;
          p {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            margin: 0;
          }
          span:last-child {
            text-align: right;
            color: #22292f;
          }
        }
      }
      tbody {
        tr {
          &:last-child {
            border-bottom: none;
          }
        }
      }
      &:first-child {
        th {
          padding: 0 50px 0 30px;
        }
        td {
          padding: 0 50px 0 30px;
        }
      }
      &:last-child {
        border-left: none;
        th {
          padding: 0 30px 0 50px;
        }
        td {
          padding: 0 30px 0 50px;
        }
      }
    }
    &_table__list {
      th,
      td {
        padding: 0 10px;
        &:first-child {
          padding: 0 10px 0 30px;
        }
        &:last-child {
          padding: 0 36px 0 10px;
          text-align: right;
        }
      }
      tbody {
        tr {
          &:hover {
            cursor: pointer;
            background-color: #f5fbf9;
          }
          .pools_detail_table__confirm {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            line-height: 24px;
            background: #0f8c20;
            border-radius: 12px;
          }
        }
      }
    }
    &_content_link {
      .no_link {
        &:hover {
          cursor: text;
          color: #22292f;
        }
      }
      a {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        color: #22292f;
        line-height: 24px;
        &:hover {
          color: #0f8c20;
        }
        img {
          margin-right: 8px;
          display: inline-block;
          width: 24px;
          height: 24px;
        }
        svg {
          margin-right: 8px;
        }
        &:first-child {
          margin-top: 40px;
        }
        &:last-child {
          margin-top: 30px;
        }
      }
    }
    &_coin__list {
      display: inline-block;
      padding: 0 30px;
      line-height: 40px;
      color: #22292f;
      font-size: 14px;
      font-weight: 500;
      background: #f2f0eb;
      border-radius: 20px;
      margin-right: 20px;
      &:hover {
        color: #0f8c20;
      }
    }
    &_coin__list_active {
      color: #fff;
      background: #0f8c20;
      &:hover {
        color: #fff;
      }
    }
  }
}
@media #{$mdWidth} {
  .pools_detail_box {
    min-width: 1080px;
    // height: 100%;
    min-height: 100%;
    background-color: #fff;
  }
  .pools_detail {
    margin-top: 60px;
    padding-bottom: 176px;
    &_btn_box {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding-bottom: 16px;
      text-align: center;
    }
     &_tips_box {
      margin: 0 auto;
      width: 640px;
      text-align: center;
    }
    &_tips {
      display: inline-block;
      margin-bottom: 0;
      padding: 6px 8px;
      font-size: 12px;
      color: #ff6400;
      background: #fff3f0;
      border-radius: 5px;
    }
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 48px;
      font-size: 16px;
      color: #22292f;
      font-weight: 600;
      line-height: 20px;
      border-radius: 24px;
      background: #f2f0eb;
      &:hover {
        color: #fff;
      }
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #0f8c20;
        }
      }
    }
     &_btn_56 {
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #F0B90B;
        }
      }
    }
    &_btn_137 {
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #8247E5;
        }
      }
    }
    &_btn_active {
      color: #fff;
      background: #0f8c20;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #00b900;
      }
    }
     &_btn_active_56 {
      color: #fff;
      background: #F0B90B;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #F3C73B;
      }
    }
    &_btn_active_137 {
      color: #fff;
      background: #8247E5;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #9B6BEA;
      }
    }

    &_btn_disable {
      color: #fff;
      background: #999;
      box-shadow: 0px 4px 20px 0px rgba(#999, 0.3);
    }
    &_record {
      position: relative;
      margin: 40px auto 0px;
      padding: 0 50px 30px;
      width: 640px;
      min-height: 164px;
      background: #f2f0eb;
      border-radius: 10px;
      .mask_layer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 0 30px;
        width: 640px;
        height: 164px;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        line-height: 164px;
        text-align: center;
        background: rgba(34, 41, 47, 0.7);
        border-radius: 10px;
      }
    }
    &_record_tab {
       display: flex;
      a {
        position: relative;
        margin: 0 36px 22px 0;
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #7a7f82;
        line-height: 20px;
        &:hover {
          color: #0f8c20;
          &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #0f8c20;
          }
        }
      }
      a.active {
        color: #0f8c20;
        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: #0f8c20;
        }
      }
    }
    &_record_title_h5 {
      display: none;
    }
    &_record_title {
      width: 100%;
      thead {
        tr {
          td {
            font-size: 12px;
            font-weight: 400;
            color: #7a7f82;
            line-height: 28px;
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 14px;
            font-weight: 500;
            color: #22292f;
            line-height: 26px;
            &:last-child {
              text-align: right;
            }
          }
          .pools_detail_record_btn {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            line-height: 24px;
            background: #0f8c20;
            border-radius: 12px;
            text-align: right;
          }
          .pools_detail_record_btn_56 {
            background: #F0B90B;
            text-align: right;
            &:hover {
              background-color: #F3C73B;
            }
          }
          .pools_detail_record_btn_137 {
            background: #8247E5;
            text-align: right;
            &:hover {
              background-color: #9B6BEA;
            }
          }
        }
      }
    }
    &_content {
      width: 100%;
      margin: 0 auto;
    }
    &_content_tab {
      height: 60px;
      line-height: 60px;
      border-bottom: 2px solid #ebe9e3;
      a {
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #7a7f82;
        &:last-child {
          margin-left: 40px;
        }
        &:hover {
          color: #7a7f82;
        }
        &.active {
          color: #22292f;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: #0f8c20;
          }
        }
      }
    }
    &_table_box {
      margin: 40px auto 0;
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: center;
      border-radius: 5px;
    }
    &_table {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #ebe9e3;
      tr {
        height: 60px;
        border-bottom: 1px solid #ebe9e3;
        th {
          font-size: 14px;
          font-weight: bold;
          color: #22292f;
          line-height: 20px;
          text-align: left;
        }
        td {
          font-size: 14px;
          color: #7a7f82;
          line-height: 20px;
          p {
            display: flex;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            justify-content: space-between;
            margin: 0;
          }
          span:last-child {
            text-align: right;
            color: #22292f;
          }
        }
      }
      &:first-child {
        th {
          padding: 0 50px 0 30px;
        }
        td {
          padding: 0 50px 0 30px;
        }
      }
      &:last-child {
        border-left: none;
        th {
          padding: 0 30px 0 50px;
        }
        td {
          padding: 0 30px 0 50px;
        }
      }
    }
    &_table__list {
      th,
      td {
        padding: 0 10px;
        &:first-child {
          padding: 0 10px 0 30px;
        }
        &:last-child {
          padding: 0 36px 0 10px;
          text-align: right;
        }
      }
      tbody {
        tr {
          &:hover {
            cursor: pointer;
            background-color: #f5fbf9;
          }
          .pools_detail_table__confirm {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            line-height: 24px;
            background: #0f8c20;
            border-radius: 12px;
          }
        }
      }
    }
    &_content_link {
      .no_link {
        &:hover {
          cursor: text;
          color: #22292f;
        }
      }
      a {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        color: #22292f;
        line-height: 24px;
        &:hover {
          color: #0f8c20;
        }
        img {
          margin-right: 8px;
          display: inline-block;
          width: 24px;
          height: 24px;
        }
        svg {
          margin-right: 8px;
        }
        &:first-child {
          margin-top: 40px;
        }
        &:last-child {
          margin-top: 30px;
        }
      }
    }
    &_coin__list {
      display: inline-block;
      padding: 0 30px;
      line-height: 40px;
      color: #22292f;
      font-size: 14px;
      font-weight: 500;
      background: #f2f0eb;
      border-radius: 20px;
      margin-right: 20px;
      &:hover {
        color: #0f8c20;
      }
    }
    &_coin__list_active {
      color: #fff;
      background: #0f8c20;
      &:hover {
        color: #fff;
      }
    }
  }
}

@media #{$smWidth} {
  .pools_detail_box {
    min-width: 350px;
    // height: 100%;
    min-height: 100%;
    background-color: #fff;
  }
  .pools_detail {
    padding-bottom: 40px;
    &_btn_box {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding-bottom: 16px;
      text-align: center;
    }
    &_tips_box {
      margin: 0 auto;
      width: 320px;
      text-align: center;
    }
    &_tips {
      display: inline-block;
      margin-bottom: 0;
      padding: 6px 8px;
      font-size: 12px;
      color: #ff6400;
      background: #fff3f0;
      border-radius: 5px;
    }
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 48px;
      font-size: 16px;
      color: #22292f;
      font-weight: 600;
      line-height: 20px;
      border-radius: 24px;
      background: #f2f0eb;
      &:hover {
        color: #fff;
      }
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #0f8c20;
        }
      }
    }
     &_btn_56 {
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #F0B90B;
        }
      }
    }
    &_btn_137 {
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #8247E5;
        }
      }
    }
    &_btn_active {
      color: #fff;
      background: #0f8c20;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #00b900;
      }
    }
     &_btn_active_56 {
      color: #fff;
      background: #F0B90B;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #F3C73B;
      }
    }
    &_btn_active_137 {
      color: #fff;
      background: #8247E5;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #9B6BEA;
      }
    }

    &_btn_disable {
      color: #fff;
      background: #999;
      box-shadow: 0px 4px 20px 0px rgba(#999, 0.3);
    }
    &_record {
      position: relative;
      margin: 30px auto 20px;
      padding: 0 18px 12px;
      width: 320px;
      min-height: 164px;
      background: #f2f0eb;
      border-radius: 10px;
      .mask_layer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 0 20px;
        width: 320px;
        // height: 172px;
        height: 100%;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        line-height: 164px;
        text-align: center;
        background: rgba(34, 41, 47, 0.7);
        border-radius: 10px;
      }
    }
    &_record_tab {
       display: flex;
      a {
        position: relative;
        margin: 0 36px 18px 0;
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        color: #7a7f82;
        line-height: 20px;
        &:hover {
          color: #0f8c20;
          &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #0f8c20;
          }
        }
      }
      a.active {
        color: #0f8c20;
        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: #0f8c20;
        }
      }
    }
    &_record_title_h5 {
      width: 100%;
      .pools_detail_record_title_val {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 400;
        color: #7a7f82;
        line-height: 28px;
      }
      .pools_detail_record_title_data {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
        color: #22292f;
        line-height: 26px;
      }
      .pools_detail_record_btn {
        display: inline-block;
        padding: 0 8px;
        font-size: 14px;
        color: #ffffff;
        line-height: 24px;
        background: #0f8c20;
        border-radius: 12px;
        text-align: right;
      }
      .pools_detail_record_btn_56 {
        background: #F0B90B;
        text-align: right;
        &:hover {
          background-color: #F3C73B;
        }
      }
      .pools_detail_record_btn_137 {
        background: #8247E5;
        text-align: right;
        &:hover {
          background-color: #9B6BEA;
        }
      }
    }
    &_record_title {
      display: none;
      width: 100%;
      thead {
        tr {
          td {
            font-size: 12px;
            font-weight: 400;
            color: #7a7f82;
            line-height: 28px;
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 14px;
            font-weight: 500;
            color: #22292f;
            line-height: 26px;
            &:last-child {
              text-align: right;
            }
          }
          .pools_detail_record_btn {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            line-height: 24px;
            background: #0f8c20;
            border-radius: 12px;
            text-align: right;
          }
          .pools_detail_record_btn_56 {
            background: #F0B90B;
            text-align: right;
            &:hover {
              background-color: #F3C73B;
            }
          }
          .pools_detail_record_btn_137 {
            background: #8247E5;
            text-align: right;
            &:hover {
              background-color: #9B6BEA;
            }
          }
        }
      }
    }
    &_content {
      width: 320px;
      margin: 0 auto;
    }
    &_content_tab {
      height: 60px;
      line-height: 60px;
      border-bottom: 2px solid #ebe9e3;
      a {
        position: relative;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        color: #7a7f82;
        &:last-child {
          margin-left: 40px;
        }
        &:hover {
          color: #7a7f82;
        }
        &.active {
          color: #22292f;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: #0f8c20;
          }
        }
      }
    }
    &_table_box {
      margin: 20px auto 0;
    }
    &_table {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #ebe9e3;
      table-layout: fixed;
      word-break: break-all;
      thead {
        tr {
          height: 60px;
          line-height: 60px;
        }
      }
      tbody {
        tr {
          height: 50px;
          line-height: 50px;
        }
      }
      tr {
        border-bottom: 1px solid #ebe9e3;
        th {
          padding: 0 16px 0 10px;
          font-size: 14px;
          font-weight: bold;
          color: #22292f;
          line-height: 18px;
          text-align: left;
        }
        td {
          padding: 0 16px 0 10px;
          font-size: 14px;
          color: #7a7f82;
          line-height: 18px;
          p {
            display: flex;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            justify-content: space-between;
            margin: 0;
          }
          span:last-child {
            text-align: right;
            color: #22292f;
          }
        }
      }
    }
    &_table:last-child {
      margin-top: 20px;
    }
    &_table__list {
      th,
      td {
        padding: 0 10px;
        word-wrap: break-word;
        &:last-child {
          text-align: right;
        }
      }
      tbody {
        tr {
          &:hover {
            cursor: pointer;
            background-color: #f5fbf9;
          }
          .pools_detail_table__confirm {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            line-height: 24px;
            background: #0f8c20;
            border-radius: 12px;
          }
        }
      }
    }
    &_content_link {
      .no_link {
        &:hover {
          cursor: text;
          color: #22292f;
        }
      }
      a {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        color: #22292f;
        line-height: 24px;
        &:hover {
          color: #0f8c20;
        }
        img {
          margin-right: 8px;
          display: inline-block;
          width: 24px;
          height: 24px;
        }
        svg {
          margin-right: 8px;
        }
        &:first-child {
          margin-top: 40px;
        }
        &:last-child {
          margin-top: 30px;
        }
      }
    }
    &_coin__list {
      display: inline-block;
      padding: 0 30px;
      line-height: 40px;
      color: #22292f;
      font-size: 14px;
      font-weight: 500;
      background: #f2f0eb;
      border-radius: 20px;
      margin-right: 20px;
      &:hover {
        color: #0f8c20;
      }
    }
    &_coin__list_active {
      color: #fff;
      background: #0f8c20;
      &:hover {
        color: #fff;
      }
    }
  }
}
@media #{$xsWidth} {
  .pools_detail_box {
    min-width: 350px;
    // height: 100%;
    min-height: 100%;
    background-color: #fff;
  }
  .pools_detail {
    padding-bottom: 40px;
    &_btn_box {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding-bottom: 16px;
      text-align: center;
    }
    &_tips_box {
      margin: 0 auto;
      width: 320px;
      text-align: center;
    }
    &_tips {
      display: inline-block;
      margin-bottom: 0;
      padding: 6px 8px;
      font-size: 12px;
      color: #ff6400;
      background: #fff3f0;
      border-radius: 5px;
    }
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 48px;
      font-size: 16px;
      color: #22292f;
      font-weight: 600;
      line-height: 20px;
      border-radius: 24px;
      background: #f2f0eb;
      &:hover {
        color: #fff;
      }
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #0f8c20;
        }
      }
    }
     &_btn_56 {
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #F0B90B;
        }
      }
    }
    &_btn_137 {
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #8247E5;
        }
      }
    }
    &_btn_active {
      color: #fff;
      background: #0f8c20;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #00b900;
      }
    }
     &_btn_active_56 {
      color: #fff;
      background: #F0B90B;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #F3C73B;
      }
    }
    &_btn_active_137 {
      color: #fff;
      background: #8247E5;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
      &:hover {
        color: #fff;
        background: #9B6BEA;
      }
    }

    &_btn_disable {
      color: #fff;
      background: #999;
      box-shadow: 0px 4px 20px 0px rgba(#999, 0.3);
    }
    &_record {
      position: relative;
      margin: 30px auto 20px;
      padding: 0 18px 12px;
      width: 320px;
      min-height: 164px;
      background: #f2f0eb;
      border-radius: 10px;
      .mask_layer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 0 20px;
        width: 320px;
        // height: 172px;
        height: 100%;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        line-height: 164px;
        text-align: center;
        background: rgba(34, 41, 47, 0.7);
        border-radius: 10px;
      }
    }
    &_record_tab {
       display: flex;
      a {
        position: relative;
        margin: 0 36px 18px 0;
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        color: #7a7f82;
        line-height: 20px;
        &:hover {
          color: #0f8c20;
          &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #0f8c20;
          }
        }
      }
      a.active {
        color: #0f8c20;
        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: #0f8c20;
        }
      }
    }
    &_record_title_h5 {
      width: 100%;
      .pools_detail_record_title_val {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 400;
        color: #7a7f82;
        line-height: 28px;
      }
      .pools_detail_record_title_data {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
        color: #22292f;
        line-height: 26px;
      }
      .pools_detail_record_btn {
        display: inline-block;
        padding: 0 8px;
        font-size: 14px;
        color: #ffffff;
        line-height: 24px;
        background: #0f8c20;
        border-radius: 12px;
        text-align: right;
      }
      .pools_detail_record_btn_56 {
        background: #F0B90B;
        text-align: right;
        &:hover {
          background-color: #F3C73B;
        }
      }
      .pools_detail_record_btn_137 {
        background: #8247E5;
        text-align: right;
        &:hover {
          background-color: #9B6BEA;
        }
      }
    }
    &_record_title {
      display: none;
      width: 100%;
      thead {
        tr {
          td {
            font-size: 12px;
            font-weight: 400;
            color: #7a7f82;
            line-height: 28px;
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            font-size: 14px;
            font-weight: 500;
            color: #22292f;
            line-height: 26px;
            &:last-child {
              text-align: right;
            }
          }
          .pools_detail_record_btn {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            line-height: 24px;
            background: #0f8c20;
            border-radius: 12px;
            text-align: right;
          }
          .pools_detail_record_btn_56 {
            background: #F0B90B;
            text-align: right;
            &:hover {
              background-color: #F3C73B;
            }
          }
          .pools_detail_record_btn_137 {
            background: #8247E5;
            text-align: right;
            &:hover {
              background-color: #9B6BEA;
            }
          }
        }
      }
    }
    &_content {
      width: 320px;
      margin: 0 auto;
    }
    &_content_tab {
      height: 60px;
      line-height: 60px;
      border-bottom: 2px solid #ebe9e3;
      a {
        position: relative;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        color: #7a7f82;
        &:last-child {
          margin-left: 40px;
        }
        &:hover {
          color: #7a7f82;
        }
        &.active {
          color: #22292f;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: #0f8c20;
          }
        }
      }
    }
    &_table_box {
      margin: 20px auto 0;
    }
    &_table {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #ebe9e3;
      table-layout: fixed;
      word-break: break-all;
      thead {
        tr {
          height: 60px;
          line-height: 60px;
        }
      }
      tbody {
        tr {
          height: 50px;
          line-height: 50px;
        }
      }
      tr {
        border-bottom: 1px solid #ebe9e3;
        th {
          padding: 0 16px 0 10px;
          font-size: 14px;
          font-weight: bold;
          color: #22292f;
          line-height: 18px;
          text-align: left;
        }
        td {
          padding: 0 16px 0 10px;
          font-size: 14px;
          color: #7a7f82;
          line-height: 18px;
          p {
            display: flex;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            justify-content: space-between;
            margin: 0;
          }
          span:last-child {
            text-align: right;
            color: #22292f;
          }
        }
      }
    }
    &_table:last-child {
      margin-top: 20px;
    }
    &_table__list {
      th,
      td {
        padding: 0 10px;
        word-wrap: break-word;
        &:last-child {
          text-align: right;
        }
      }
      tbody {
        tr {
          &:hover {
            cursor: pointer;
            background-color: #f5fbf9;
          }
          .pools_detail_table__confirm {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            line-height: 24px;
            background: #0f8c20;
            border-radius: 12px;
          }
        }
      }
    }
    &_content_link {
      .no_link {
        &:hover {
          cursor: text;
          color: #22292f;
        }
      }
      a {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        color: #22292f;
        line-height: 24px;
        &:hover {
          color: #0f8c20;
        }
        img {
          display: inline-block;
          margin-right: 8px;
          width: 24px;
          height: 24px;
        }
        svg {
          margin-right: 8px;
        }
        &:first-child {
          margin-top: 40px;
        }
        &:last-child {
          margin-top: 30px;
        }
      }
    }
    &_coin__list {
      display: inline-block;
      padding: 0 30px;
      line-height: 40px;
      color: #22292f;
      font-size: 14px;
      font-weight: 500;
      background: #f2f0eb;
      border-radius: 20px;
      margin-right: 20px;
      &:hover {
        color: #0f8c20;
      }
    }
    &_coin__list_active {
      color: #fff;
      background: #0f8c20;
      &:hover {
        color: #fff;
      }
    }
  }
}
