.pools_banner {
  width: 100%;
}

@media #{$desktop} {
  .pools_banner_box {
    position: relative;
    padding: 200px 0 58px;
    width: 100%;
    min-width: 1080px;
    background: #fff;
    background-image: url('../image/pools-banner@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    height: 378px;
  }
  .pools_banner {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    &_text {
      margin-bottom: 0;
      font-size: 56px;
      font-weight: 600;
      color: #22292f;
      line-height: 78px;
      p {
        margin-bottom: 0;
      }
    }
    &_dec {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 28px;
      font-size: 24px;
      font-weight: 700;
      color: #0f8c20;
      line-height: 36px;
      margin-top: 16px;
      margin-bottom: 0;
      &:hover {
        color: #00b900;
        svg {
          fill: #00b900;
        }
      }
      svg {
        margin-left: 4px;
        fill: #0f8c20;
        &:hover {
          fill: #00b900;
        }
      }
    }
    &_withdraw_tip {
      display: inline-block;
      padding: 6px 8px;
      margin: 10px auto 0;
      font-size: 12px;
      color: #ff6400;
      background: #fff3f0;
      border-radius: 5px;
    }
    &_btn {
      display: inline-block;
      width: 128px;
      height: 48px;
      font-size: 16px;
      color: #22292f;
      font-weight: 600;
      line-height: 48px;
      border-radius: 24px;
      background: #f2f0eb;
      &:hover {
        color: #fff;
      }
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #0f8c20;
        }
      }
    }
    &_btn_active {
      color: #fff;
      background: #0f8c20;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
    }

    &_btn_disable {
      color: #fff;
      background: #999;
      box-shadow: 0px 4px 20px 0px rgba(#999, 0.3);
    }
  }
}
@media #{$mdWidth} {
   .pools_banner_box {
    position: relative;
    padding: 180px 0 58px;
    width: 100%;
    min-width: 1080px;
    background: #fff;
    background-image: url('../image/pools-banner@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    height: 378px;
  }
  .pools_banner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    &_img {
      display: none;
      margin: 0 auto;
      width: 98%;
      height: 378px;
      background-image: url('../image/pools-banner@2x.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &_text {
      margin-bottom: 0;
      font-size: 56px;
      font-weight: 600;
      color: #22292f;
      line-height: 78px;
       p {
        margin-bottom: 0;
      }
    }
    &_dec {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 28px;
      font-size: 24px;
      font-weight: 700;
      color: #0f8c20;
      line-height: 36px;
      margin-top: 16px;
      margin-bottom: 0;
      &:hover {
        color: #00b900;
        svg {
          fill: #00b900;
        }
      }
      svg {
        margin-left: 4px;
        fill: #0f8c20;
        &:hover {
          fill: #00b900;
        }
      }
    }
    &_withdraw_tip {
      display: inline-block;
      padding: 6px 8px;
      margin: 10px auto 0;
      font-size: 12px;
      color: #ff6400;
      background: #fff3f0;
      border-radius: 5px;
    }
    &_btn {
      display: inline-block;
      width: 128px;
      height: 48px;
      font-size: 16px;
      color: #22292f;
      font-weight: 600;
      line-height: 48px;
      border-radius: 24px;
      background: #f2f0eb;
      &:hover {
        color: #fff;
      }
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #0f8c20;
        }
      }
    }
    &_btn_active {
      color: #fff;
      background: #0f8c20;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
    }

    &_btn_disable {
      color: #fff;
      background: #999;
      box-shadow: 0px 4px 20px 0px rgba(#999, 0.3);
    }
  }
}
@media #{$smWidth} {
  .pools_banner_box {
    position: relative;
    padding-top: 78px;
    width: 100%;
    background: #fff;
    background-image: url('../image/pools-banner-h5@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    height: 214px;
  }
  .pools_banner {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    // height: 270px;
    // background-image: url('../image/pools-banner@2x_h5.png');
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    &_img {
      display: none;
      margin: 0 auto;
      width: 98%;
      height: 270px;
      background-image: url('../image/pools-banner@2x_h5.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &_text {
      margin-bottom: 0;
      width: 100%;
      font-size: 30px;
      font-weight: 600;
      color: #22292f;
      line-height: 42px;
       p {
        margin-bottom: 0;
      }
    }
    &_dec {
      display: block;
      font-size: 12px;
      font-weight: 700;
      color: #0f8c20;
      line-height: 18px;
      margin-top: 6px;
      word-break: break-word;
      margin-bottom: 0;
      &:hover {
        color: #00b900;
        svg {
          fill: #00b900;
        }
      }
      svg {
        margin-left: 4px;
        display: inline-block;
        vertical-align: bottom;
        fill: #0f8c20;
        &:hover {
          fill: #00b900;
        }
      }
    }
    &_withdraw_tip {
      display: inline-block;
      padding: 6px 8px;
      margin: 10px auto 0;
      max-width: 320px;
      font-size: 12px;
      color: #ff6400;
      background: #fff3f0;
      border-radius: 5px;
    }
    &_btn {
      display: inline-block;
      width: 128px;
      height: 48px;
      font-size: 16px;
      color: #22292f;
      font-weight: 600;
      line-height: 48px;
      border-radius: 24px;
      background: #f2f0eb;
      &:hover {
        color: #fff;
      }
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #0f8c20;
        }
      }
    }
    &_btn_active {
      color: #fff;
      background: #0f8c20;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
    }

    &_btn_disable {
      color: #fff;
      background: #999;
      box-shadow: 0px 4px 20px 0px rgba(#999, 0.3);
    }
  }
}
@media #{$xsWidth} {
  .pools_banner_box {
    position: relative;
    padding-top: 78px;
    width: 100%;
    background: #fff;
    background-image: url('../image/pools-banner-h5@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    height: 214px;
  }
  .pools_banner {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    // height: 270px;
    // background-image: url('../image/pools-banner@2x_h5.png');
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    &_img {
      display: none;
      margin: 0 auto;
      width: 99%;
      height: 270px;
      background-image: url('../image/pools-banner@2x_h5.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &_text {
      margin-bottom: 0;
      font-size: 30px;
      font-weight: 600;
      color: #22292f;
      line-height: 42px;
      p {
        margin-bottom: 0;
      }
    }
    &_dec {
      display: block;
      font-size: 12px;
      font-weight: 700;
      color: #0f8c20;
      line-height: 18px;
      word-break: break-word;
      margin-bottom: 0;
      &:hover {
        color: #00b900;
        svg {
          fill: #00b900;
        }
      }
      svg {
        margin-left: 4px;
        display: inline-block;
        vertical-align: bottom;
        fill: #0f8c20;
        &:hover {
          fill: #00b900;
        }
      }
    }
    &_withdraw_tip {
      display: inline-block;
      padding: 6px 8px;
      margin: 10px auto 0;
      max-width: 320px;
      font-size: 12px;
      color: #ff6400;
      background: #fff3f0;
      border-radius: 5px;
    }
    &_btn {
      display: inline-block;
      width: 128px;
      height: 48px;
      font-size: 16px;
      color: #22292f;
      font-weight: 600;
      line-height: 48px;
      border-radius: 24px;
      background: #f2f0eb;
      &:hover {
        color: #fff;
      }
      &:last-child {
        margin-left: 24px;
        &:hover {
          color: #0f8c20;
        }
      }
    }
    &_btn_active {
      color: #fff;
      background: #0f8c20;
      box-shadow: 0px 4px 20px 0px rgba(15, 140, 32, 0.3);
    }

    &_btn_disable {
      color: #fff;
      background: #999;
      box-shadow: 0px 4px 20px 0px rgba(#999, 0.3);
    }
  }
}
