

.apply-input {
  height: 48px;
  border: 3px solid #E8F4EF;
  border-radius: 8px;

  .ant-input-suffix {
    font-size: 16px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    color: #4F4F4F;
  }

  &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover, &:hover,&:focus, &.ant-input-focused {
    border-width: 2px !important;
    border-right-width: 2px !important;
    border-color: #00C57B !important;
  }

  input {
    font-size: 16px !important;
  }

  .date-icon {
    width: 24px;
    height: 24px;
  }

  width: 100%;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background: #0F8C20;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #0F8C20;
}

.ant-picker-now-btn:hover {
  color: #0F8C20;
}
/////


.nft-card {
  position: relative;
  width: 100%;
  min-height: 220px;
  background: #FFFFFF;
  border-radius: 16px;
  border: 4px solid #E7F4EF;
  margin-top: 40px;
  transition: all 200ms;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  &:hover {
    box-shadow: 6px 6px 0px 0px #E7F4EF;
  }

  .arrow-l, .arrow-r {
    position: absolute;
    left: -66px;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .arrow-r {
    left: auto;
    right: -66px;
    transform: translateY(-50%) rotate(180deg) !important;
  }

  .nft-card-title {
    font-size: 18px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    color: #4F4F4F;
    line-height: 22px;
    border-bottom: 4px solid #E7F4EF;
    padding: 16px 20px;
    margin: 0;
  }

  .nft-card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    .nft-spin{
      flex: 1;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nft-card-info-t {
      display: flex;
      padding: 23px 0 19px 26px;

      img {
        width: 53px;
        height: 53px;
      }

      div {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 7px 11px;

        h2 {
          flex: 1;
          font-size: 18px;
          font-family: Montserrat-Bold, Montserrat;
          font-weight: bold;
          color: #4F4F4F;
          line-height: 20px;
          margin-bottom: 0;
          word-wrap:break-word;
          word-break:break-all;
        }

        p {
          flex: 1;
          font-size: 16px;
          font-family: Montserrat-Bold, Montserrat;
          font-weight: bold;
          color: #959595;
          line-height: 19px;
          margin-bottom: 0;
          word-wrap:break-word;
          word-break:break-all;
        }
      }
    }

    .url-list {
      padding-left: 4px;

      a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: #E7F4EF;
        border-radius: 8px;
        margin-left: 16px;
        padding: 8px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .create-view {
    text-align: center;

    img {
      width: 56px;
      height: 56px;
      margin: 27px auto 0 auto;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }

    p {
      font-size: 16px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #959595;
      line-height: 22px;
      margin-top: 15px;
    }
  }
}

.apply-page {
  width: 100%;
  height: 100%;

  .footer {
    position: relative !important;
  }

  .apply-view-back {
    color: #03A678;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
    }

    img, span {
      cursor: pointer;
    }
  }

  .apply-view-title {
    font-size: 28px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    color: #4F4F4F;
    line-height: 34px;
    margin-top: 12px;
  }
}

.apply-view {
  width: 424px;
  max-width: 90vw;
  min-height: calc(100% - 80px);
  margin: 100px auto 0;
  padding-bottom: 50px;

  .button-group{
  display: flex;
  &.mr {
    button {
      flex: 1;
      margin-right: 32px;
    }
  }
  button{
    flex: 1;
    margin-right: 6px;
    &:nth-last-child(1){
      margin-right: 0;
    }
    &:nth-child(1){
      background: #00C57B!important;
      color: #ffffff!important;
      border: 0!important;
      cursor: pointer!important;
    }
    cursor: default!important;
    background: #ffffff!important;
    color: #D8D8D8!important;
    border: 3px solid #D8D8D8!important;
  }
}
  .tip-txt {
    width: 100%;
    min-height: 22px;
    font-size: 16px;
    font-family: Montserrat-Regular, Montserrat;
    font-weight: 400;
    color: #03A678;
    line-height: 19px;
    display: flex;
    padding-bottom: 2px;
    margin-top: 16px;
    margin-bottom: 20px;

    div:nth-child(1) {
      flex: 1;
    }

    div:nth-child(2):hover {
      cursor: pointer;
      border-bottom: 1px solid #03A678;
    }
  }

  .tab-info {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .tab-info-item {
      font-family: Montserrat-Bold, Montserrat;
      line-height: 19px;

      p {
        font-size: 16px;
        font-weight: 400;
        color: #959595;
        margin-bottom: 5px;
        white-space: break-spaces;
      }

      h2 {
        font-size: 16px;
        font-weight: bold;
        color: #4F4F4F;
        margin-bottom: 0;
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3) {
        text-align: right;
      }
    }
  }

  .info-tips {
    display: flex;
    margin-top: 12px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }

    div {
      flex: 1;
      font-size: 16px;
      font-family: Montserrat-Regular, Montserrat;
      font-weight: 400;
      color: #959595;
      line-height: 19px;
    }
  }

  .date-picker {
    margin: 10px 0 5px 0;
  }

  .apply-btn {
    height: 48px;
    background: #00C57B !important;
    border-color: #00C57B !important;
    box-shadow: 0px 4px 8px 0px rgba(5, 11, 36, 0.02);
    border-radius: 24px;
    margin: 16px 0;
    font-size: 16px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    color: #FFFFFF;
  }

  .role-title {
    font-size: 16px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: bold;
    color: #4F4F4F;
    line-height: 19px;
    margin-bottom: 16px;
  }
  .nft-create-view{
    width: 480px;
    min-height: 414px;
    max-width: 100vw;
    background: #F2F0EB;
    border-radius: 8px;
    padding: 22px 28px;
    .nft-create-view-title{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img{
        width: 48px;
        height: 48px;
        margin-bottom: 8px;
      }
      p{
        margin-bottom: 18px;
      }
    }
    .nft-card{
      margin-top: 0;
    }
    .nft-create-view-footer{
      display: flex;
      align-items: center;
      justify-content: center;
      &>span{
        font-size: 14px;
        font-family: HelveticaNeue;
        color: #03A678;
        line-height: 16px;
        margin-right: 20px;
        cursor: pointer;
      }
      .apply-btn{
        height: 40px;
        width: auto;
      }
    }
  }
}

@media (max-width: 470px) {
  .apply-view {
    .nft-card {
      .arrow-l {
        left: -15px;
        background: #ffffff;
      }

      .arrow-r {
        right: -15px;
        background: #ffffff;
      }
    }
  }
}
/////

.apply-info-view{
  .apply-view-title{
    margin-bottom: 40px;
  }
  .form-item{
    padding: 9px 0;
    .form-item-title{
      position: relative;
      display: flex;
      font-size: 16px;
      font-family: Montserrat-Bold, Montserrat;
      font-weight: bold;
      color: #4F4F4F;
      line-height: 19px;
      margin-bottom: 10px;
      .title{
        display: flex;
        align-items: center;
        flex: 1;
        white-space: nowrap;
      }
      .desc{
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: Montserrat-Light, Montserrat;
        font-weight: 300;
        color: #959595;
        line-height: 18px;
        padding-right: 2px;
        strong{
          font-weight: bold;
          color: #4F4F4F;
        }
      }
      .required{
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 18px;
        color: #FFCA20;
      }
    }
    .upload-img{
      position: relative;
      width: 100%;
      height: 120px;
      background: #FFFFFF;
      border-radius: 4px;
      border: 3px solid #E8F4EF;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        font-size: 14px;
        font-family: Montserrat-Light, Montserrat;
        font-weight: 300;
        color: #959595;
        line-height: 18px;
      }
      input{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      img{
        width: 100px;
        height: 100px;
      }
    }
    .tip-txt{
      font-size: 14px;
      font-family: Montserrat-Light, Montserrat;
      font-weight: 300;
      color: #959595;
      line-height: 18px;
      margin-top: 8px;
      margin-bottom: 0;
    }
  }
  .create-btn{
    margin: 50px auto;
    width: 120px;
    height: 48px;
    background: #00C57B!important;
    border-color: #00C57B!important;
    border-radius: 24px;
    font-size: 16px;
    font-family: Montserrat-Medium, Montserrat;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      margin-right: 0!important;
      width: 20px!important;
      height: 20px!important;
    }
    &:hover{
      background: #00C57B!important;
      border-color: #00C57B!important;
      opacity: 0.9;
    }
  }
}

