@media #{$desktop} {
  .vote {
    padding-bottom: 230px;
    padding-top: 140px;
    width: 100%;
    height: 100%;
    min-width: 1080px;
    min-height: 800px;
    background: #f7fcf9;
    &_box {
      margin: 0 auto;
      width: 1080px;
      height: 100%;
    }
    &_title {
      margin-top: 12px;
      margin-bottom: 0;
      font-size: 28px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #4f4f4f;
      line-height: 34px;
    }
    &_box_card {
      margin-top: 32px;
      width: 100%;
      height: 150px;
      background: #ffffff;
      box-shadow: 6px 6px 0px 0px #e7f4ef;
      border-radius: 16px;
      border: 4px solid #e7f4ef;
    }
    &_box_card_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      width: 100%;
      height: 48px;
      border-bottom: 4px solid #e7f4ef;
      i {
        font-style: normal;
        font-size: 18px;
        font-family: Montserrat-Regular, HelveticaNeue;
        font-weight: 400;
        color: #03a678;
      }
    }
    &_box_card_content {
      display: flex;
      align-items: center;
      padding: 18px 20px;
      img {
        display: inline-block;
        width: 60px;
        height: 60px;
      }
    }
    &_box_card_content_box {
      display: flex;
      align-items: center;
    }
    &_box_card_content_title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
      margin-left: 10px;
      width: 322px;
      font-size: 18px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #4f4f4f;
      line-height: 20px;
      span {
        display: inline-block;
        font-size: 16px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #959595;
        line-height: 20px;
      }
    }
    .link_url {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        width: 40px;
        height: 40px;
        background: #e7f4ef;
        border-radius: 8px;
        &:hover {
          box-shadow: 3px 3px 0px 0px #03a678;
        }
        &:last-child {
          margin-right: 0;
        }
        svg {
          fill: #00c57b;
        }
      }
    }
    &_countdown_ongoing {
      display: flex;
      align-items: center;
      padding: 0 12px;
      margin-right: -4px;
      margin-bottom: 0;
      height: 100%;
      background: #e7f4ef;
      border-radius: 16px 16px 0px 0px;
      font-size: 14px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #03a678;
    }
    &_box_progress {
      padding: 46px 0 50px;
      border-bottom: 4px solid #e7f4ef;
      .countdown {
        font-size: 16px;
      }
    }
    &_box_progress_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 18px;
    }
    &_box_progress_content_title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
      font-size: 14px;
      font-family: Montserrat-Regular, HelveticaNeue;
      font-weight: 400;
      color: #959595;
      line-height: 18px;
      span {
        display: inline-block;
        margin-top: 8px;
        font-size: 18px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 20px;
      }
    }
    &_box_progress_content_progress {
      width: 280px;
      a {
        &:hover {
          color: #22292f;
          cursor: auto;
        }
      }
      .vote_progress {
        position: relative;
        margin-top: 16px;
        width: 280px;
        height: 10px;
        background: #e7f4ef;
        border-radius: 5px;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 0;
        height: 10px;
        background: #03a678;
        border-radius: 5px;
      }
    }
    &_box_progress_content_btn {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 0;
      a {
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 34px;
        font-size: 18px;
        font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
        font-weight: 600;
        color: #00c57b;
        text-align: center;
        background: #fff;
        border-radius: 22px;
        border: 3px solid #00c57b;
        &:hover {
          box-shadow: 3px 3px 0px 0px #03a678;
        }
      }
      .vote_btn {
        font-size: 16px;
        font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
        font-weight: 600;
        color: #ffffff;
        background: #00c57b;
      }
      .disable_failed {
        color: #d8d8d8 !important;
        border: 3px solid #d8d8d8;
        background: transparent !important;
        &:hover {
          box-shadow: none;
        }
      }
    }
    &_box_progress_h5 {
      display: none;
    }
    &_box_information {
      .vote_box_information_title {
        margin-top: 30px;
        font-size: 28px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 34px;
      }
      p {
        margin-bottom: 0;
        font-size: 16px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 26px;
      }
      span {
        font-size: 14px;
        font-family: Montserrat-Regular, HelveticaNeue;
        font-weight: 400;
        color: #4f4f4f;
        line-height: 26px;
      }
      .vote_box_information_about {
        margin-top: 20px;
      }
      .vote_box_information_url {
        margin-top: 10px;
      }
      .vote_box_information_info {
        margin-top: 18px;
        width: 500px;
        p {
          display: flex;
          flex-direction: column;
          margin-bottom: 28px;
        }
      }
    }
  }
}
@media #{$mdWidth} {
  .vote {
    padding-bottom: 230px;
    padding-top: 140px;
    width: 100%;
    height: 100%;
    min-width: 1080px;
    min-height: 800px;
    background: #f7fcf9;
    &_box {
      margin: 0 auto;
      width: 1080px;
      height: 100%;
    }
    &_title {
      margin-top: 12px;
      margin-bottom: 0;
      font-size: 28px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #4f4f4f;
      line-height: 34px;
    }
    &_box_card {
      margin-top: 32px;
      width: 100%;
      height: 150px;
      background: #ffffff;
      box-shadow: 6px 6px 0px 0px #e7f4ef;
      border-radius: 16px;
      border: 4px solid #e7f4ef;
    }
    &_box_card_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      width: 100%;
      height: 48px;
      border-bottom: 4px solid #e7f4ef;
      i {
        font-style: normal;
        font-size: 18px;
        font-family: Montserrat-Regular, HelveticaNeue;
        font-weight: 400;
        color: #03a678;
      }
    }
    &_box_card_content {
      display: flex;
      align-items: center;
      padding: 18px 20px;
      img {
        display: inline-block;
        width: 60px;
        height: 60px;
      }
    }
    &_box_card_content_box {
      display: flex;
      align-items: center;
    }
    &_box_card_content_title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
      margin-left: 10px;
      width: 322px;
      font-size: 18px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #4f4f4f;
      line-height: 20px;
      span {
        display: inline-block;
        font-size: 16px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #959595;
        line-height: 20px;
      }
    }
    .link_url {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        width: 40px;
        height: 40px;
        background: #e7f4ef;
        border-radius: 8px;
        &:hover {
          box-shadow: 3px 3px 0px 0px #03a678;
        }
        &:last-child {
          margin-right: 0;
        }
        svg {
          fill: #00c57b;
        }
      }
    }
    &_countdown_ongoing {
      display: flex;
      align-items: center;
      padding: 0 12px;
      margin-right: -4px;
      margin-bottom: 0;
      height: 100%;
      background: #e7f4ef;
      border-radius: 16px 16px 0px 0px;
      font-size: 14px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #03a678;
    }
    &_box_progress {
      padding: 46px 0 50px;
      border-bottom: 4px solid #e7f4ef;
      .countdown {
        font-size: 16px;
      }
    }
    &_box_progress_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 18px;
    }
    &_box_progress_content_title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
      font-size: 14px;
      font-family: Montserrat-Regular, HelveticaNeue;
      font-weight: 400;
      color: #959595;
      line-height: 18px;
      span {
        display: inline-block;
        margin-top: 8px;
        font-size: 18px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 20px;
      }
    }
    &_box_progress_content_progress {
      width: 280px;
      a {
        &:hover {
          color: #22292f;
          cursor: auto;
        }
      }
      .vote_progress {
        position: relative;
        margin-top: 16px;
        width: 280px;
        height: 10px;
        background: #e7f4ef;
        border-radius: 5px;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 0;
        height: 10px;
        background: #03a678;
        border-radius: 5px;
      }
    }
    &_box_progress_content_btn {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 0;
      a {
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 34px;
        font-size: 18px;
        font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
        font-weight: 600;
        color: #00c57b;
        text-align: center;
        background: #fff;
        border-radius: 22px;
        border: 3px solid #00c57b;
        &:hover {
          box-shadow: 3px 3px 0px 0px #03a678;
        }
      }
      .vote_btn {
        font-size: 16px;
        font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
        font-weight: 600;
        color: #ffffff;
        background: #00c57b;
      }
      .disable_failed {
        color: #d8d8d8 !important;
        border: 3px solid #d8d8d8;
        background: transparent !important;
        &:hover {
          box-shadow: none;
        }
      }
    }
    &_box_progress_h5 {
      display: none;
    }
    &_box_information {
      .vote_box_information_title {
        margin-top: 30px;
        font-size: 28px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 34px;
      }
      p {
        margin-bottom: 0;
        font-size: 16px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 26px;
      }
      span {
        font-size: 14px;
        font-family: Montserrat-Regular, HelveticaNeue;
        font-weight: 400;
        color: #4f4f4f;
        line-height: 26px;
      }
      .vote_box_information_about {
        margin-top: 20px;
      }
      .vote_box_information_url {
        margin-top: 10px;
      }
      .vote_box_information_info {
        margin-top: 18px;
        width: 500px;
        p {
          display: flex;
          flex-direction: column;
          margin-bottom: 28px;
        }
      }
    }
  }
}
@media #{$smWidth} {
  .vote {
    padding: 110px 10px 20px;
    width: 100%;
    height: 100%;
    min-height: 800px;
    background: #f7fcf9;
    &_box {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
    &_title {
      margin-top: 12px;
      margin-bottom: 0;
      font-size: 28px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #4f4f4f;
      line-height: 34px;
    }
    &_box_card {
      margin: 32px auto 0;
      width: 340px;
      height: 222px;
      background: #ffffff;
      box-shadow: 6px 6px 0px 0px #e7f4ef;
      border-radius: 16px;
      border: 4px solid #e7f4ef;
    }
    &_box_card_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      width: 100%;
      height: 48px;
      border-bottom: 4px solid #e7f4ef;
      i {
        font-style: normal;
        font-size: 18px;
        font-family: Montserrat-Regular, HelveticaNeue;
        font-weight: 400;
        color: #03a678;
      }
    }
    &_box_card_content {
      padding: 18px 20px;
      img {
        display: inline-block;
        width: 60px;
        height: 60px;
      }
    }
    &_box_card_content_box {
      display: flex;
      align-items: center;
    }
    &_box_card_content_title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
      margin-left: 10px;
      font-size: 18px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #4f4f4f;
      line-height: 20px;
      span {
        display: inline-block;
        font-size: 16px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #959595;
        line-height: 20px;
      }
    }
    .link_url {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      margin-top: 20px;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        width: 40px;
        height: 40px;
        background: #e7f4ef;
        border-radius: 8px;
        &:hover {
          box-shadow: 3px 3px 0px 0px #03a678;
        }
        &:last-child {
          margin-right: 0;
        }
        svg {
          fill: #00c57b;
        }
      }
    }
    &_countdown_ongoing {
      display: flex;
      align-items: center;
      padding: 0 12px;
      margin-right: -4px;
      margin-bottom: 0;
      height: 100%;
      background: #e7f4ef;
      border-radius: 16px 16px 0px 0px;
      font-size: 14px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #03a678;
    }
    &_box_progress {
      display: none;
    }
    &_box_progress_h5 {
      width: 340px;
      margin: 0 auto;
      padding: 38px 0 40px;
      border-bottom: 4px solid #e7f4ef;
      .countdown {
        font-size: 16px;
      }
    }
    &_box_progress_content {
      margin-top: 16px;
    }
    &_box_progress_content_title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
      font-size: 14px;
      font-family: Montserrat-Regular, HelveticaNeue;
      font-weight: 400;
      color: #959595;
      line-height: 18px;
      span {
        display: inline-block;
        margin-top: 8px;
        font-size: 18px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 20px;
      }
    }
    &_box_progress_content_progress {
      width: 280px;
      a {
        &:hover {
          color: #22292f;
          cursor: auto;
        }
      }
      .vote_progress {
        position: relative;
        margin-top: 16px;
        width: 280px;
        height: 10px;
        background: #e7f4ef;
        border-radius: 5px;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 0;
        height: 10px;
        background: #03a678;
        border-radius: 5px;
      }
    }
    &_box_progress_content_btn {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 20px auto 0;
      a {
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 34px;
        font-size: 18px;
        font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
        font-weight: 600;
        color: #00c57b;
        text-align: center;
        background: #fff;
        border-radius: 22px;
        border: 3px solid #00c57b;
        &:hover {
          box-shadow: 3px 3px 0px 0px #03a678;
        }
        &:last-child {
          margin-left: 0;
          margin-top: 10px;
          font-size: 16px;
          font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
          font-weight: 600;
          color: #ffffff;
          background: #00c57b;
        }
      }
      .disable_failed {
        color: #d8d8d8 !important;
        border: 3px solid #d8d8d8;
        background: transparent !important;
        &:hover {
          box-shadow: none;
        }
      }
    }
    &_box_information {
      margin: 0 auto;
      width: 335px;
      .vote_box_information_title {
        margin-top: 30px;
        font-size: 28px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 34px;
      }
      p {
        margin-bottom: 0;
        font-size: 16px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 26px;
      }
      span {
        font-size: 14px;
        font-family: Montserrat-Regular, HelveticaNeue;
        font-weight: 400;
        color: #4f4f4f;
        line-height: 26px;
      }
      .vote_box_information_about {
        margin-top: 20px;
      }
      .vote_box_information_url {
        margin-top: 10px;
      }
      .vote_box_information_info {
        margin-top: 18px;
        width: 340px;
        p {
          display: flex;
          flex-direction: column;
          margin-bottom: 28px;
        }
      }
    }
  }
}
@media #{$xsWidth} {
  .vote {
    padding: 110px 10px 20px;
    width: 350px;
    height: 100%;
    min-height: 800px;
    background: #f7fcf9;
    &_box {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
    &_title {
      margin-top: 12px;
      margin-bottom: 0;
      font-size: 28px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #4f4f4f;
      line-height: 34px;
    }
    &_box_card {
      margin: 32px auto 0;
      width: 340px;
      height: 222px;
      background: #ffffff;
      box-shadow: 6px 6px 0px 0px #e7f4ef;
      border-radius: 16px;
      border: 4px solid #e7f4ef;
    }
    &_box_card_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      width: 100%;
      height: 48px;
      border-bottom: 4px solid #e7f4ef;
      i {
        font-style: normal;
        font-size: 18px;
        font-family: Montserrat-Regular, HelveticaNeue;
        font-weight: 400;
        color: #03a678;
      }
    }
    &_box_card_content {
      padding: 18px 20px;
      img {
        display: inline-block;
        width: 60px;
        height: 60px;
      }
    }
    &_box_card_content_box {
      display: flex;
      align-items: center;
    }
    &_box_card_content_title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
      margin-left: 10px;
      font-size: 18px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #4f4f4f;
      line-height: 20px;
      span {
        display: inline-block;
        font-size: 16px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #959595;
        line-height: 20px;
      }
    }
    .link_url {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      margin-top: 20px;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        width: 40px;
        height: 40px;
        background: #e7f4ef;
        border-radius: 8px;
        &:hover {
          box-shadow: 3px 3px 0px 0px #03a678;
        }
        &:last-child {
          margin-right: 0;
        }
        svg {
          fill: #00c57b;
        }
      }
    }
    &_countdown_ongoing {
      display: flex;
      align-items: center;
      padding: 0 12px;
      margin-right: -4px;
      margin-bottom: 0;
      height: 100%;
      background: #e7f4ef;
      border-radius: 16px 16px 0px 0px;
      font-size: 14px;
      font-family: Montserrat-Bold, HelveticaNeue;
      font-weight: bold;
      color: #03a678;
    }
    &_box_progress {
      display: none;
    }
    &_box_progress_h5 {
      width: 340px;
      margin: 0 auto;
      padding: 38px 0 40px;
      border-bottom: 4px solid #e7f4ef;
      .countdown {
        font-size: 16px;
      }
    }
    &_box_progress_content {
      margin-top: 16px;
    }
    &_box_progress_content_title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
      font-size: 14px;
      font-family: Montserrat-Regular, HelveticaNeue;
      font-weight: 400;
      color: #959595;
      line-height: 18px;
      span {
        display: inline-block;
        margin-top: 8px;
        font-size: 18px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 20px;
      }
    }
    &_box_progress_content_progress {
      width: 280px;
      a {
        &:hover {
          color: #22292f;
          cursor: auto;
        }
      }
      .vote_progress {
        position: relative;
        margin-top: 16px;
        width: 280px;
        height: 10px;
        background: #e7f4ef;
        border-radius: 5px;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 0;
        height: 10px;
        background: #03a678;
        border-radius: 5px;
      }
    }
    &_box_progress_content_btn {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 20px auto 0;
      a {
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 34px;
        font-size: 18px;
        font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
        font-weight: 600;
        color: #00c57b;
        text-align: center;
        background: #fff;
        border-radius: 22px;
        border: 3px solid #00c57b;
        &:hover {
          box-shadow: 3px 3px 0px 0px #03a678;
        }
        &:last-child {
          margin-left: 0;
          margin-top: 10px;
          font-size: 16px;
          font-family: TestFoundersGrotesk-Semibold, TestFoundersGrotesk;
          font-weight: 600;
          color: #ffffff;
          background: #00c57b;
        }
      }
      .disable_failed {
        color: #d8d8d8 !important;
        border: 3px solid #d8d8d8;
        background: transparent !important;
        &:hover {
          box-shadow: none;
        }
      }
    }
    &_box_information {
      margin: 0 auto;
      width: 335px;
      .vote_box_information_title {
        margin-top: 30px;
        font-size: 28px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 34px;
      }
      p {
        margin-bottom: 0;
        font-size: 16px;
        font-family: Montserrat-Bold, HelveticaNeue;
        font-weight: bold;
        color: #4f4f4f;
        line-height: 26px;
      }
      span {
        font-size: 14px;
        font-family: Montserrat-Regular, HelveticaNeue;
        font-weight: 400;
        color: #4f4f4f;
        line-height: 26px;
      }
      .vote_box_information_about {
        margin-top: 20px;
      }
      .vote_box_information_url {
        margin-top: 10px;
      }
      .vote_box_information_info {
        margin-top: 18px;
        width: 340px;
        p {
          display: flex;
          flex-direction: column;
          margin-bottom: 28px;
        }
      }
    }
  }
}
