name: Deployement

on:
  push:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - uses: actions/setup-node@v2
      with:
        node-version: '15'
        
    - name: node version
      run: node -v
    
    - name: npm version
      run: npm -v
      
    - name: build
      run: yarn && yarn build
      env: 
        CI: false
      
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@4.1.3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        git-config-email: westarter@protonmail.com
        git-config-name: westarter
        folder: build
        branch: gh-pages
        clean: false
